/* Enter your Styles below! */
@font-face {
  font-family:'AppleGaramond-Light';
  src:url(fonts/AppleGaramond-Light.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family:'Arial-Narrow';
  src:url(fonts/Arial Narrow.ttf);
  font-style: normal;
  font-weight: 100;
}

.home-icon {
	width: 11%;
	position: relative;
}

blockquote {
	/* margin: 20px 60px; */
  font-family: 'AppleGaramond-Light';
	border: 1px red solid;
	width: 80%;
	font-size: 4.5rem;
	margin: auto 40px;

}


@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
