/* Enter your Styles below! */
@font-face {
  font-family:'GT-Haptik-Bold-Rot';
  src:url(../fonts/GT-Haptik-Trial-Bold-Rotalic.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family:'GT-Haptik-Bold';
  src:url(../fonts/GT-Haptik-Trial-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family:'GT-Haptik-Medium-Rot';
  src:url(../fonts/GT-Haptik-Trial-Medium-Rotalic.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'GT-Haptik-Medium';
  src:url(../fonts/GT-Haptik-Trial-Medium.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family:'GT-Haptik-Regular-Rot';
  src:url(../fonts/GT-Haptik-Trial-Regular-Rotalic.otf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family:'GT-Haptik-Regular';
  src:url(../fonts/GT-Haptik-Trial-Regular.otf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family:'AppleGaramond-Light';
  src:url(../fonts/AppleGaramond-Light.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family:'Arial-Narrow';
  src:url(../fonts/ArialNarrow.ttf);
  font-style: normal;
  font-weight: 100;
}

.home-icon {
	width: 11%;
	position: relative;
	margin-left: 1.5vw;
	margin-top: 3.5vh;
}

.main-about {
	/* margin: 20px 60px; */
  font-family: 'AppleGaramond-Light';
	/* border: 1px red solid; */
	width: 70%;
	font-size: 4.5vw;
	margin: auto;
	margin-top: 20vh;
	line-height: 4.5vw;
}

.nav-list a {
	text-decoration: none;
	color: black;
	font-family: 'GT-Haptik-Medium';
	font-size: 1.25vw;
	line-height: 1.75vw;
}

.nav-list a:hover {
	font-family: 'GT-Haptik-Medium-Rot';
	text-decoration: underline;
}

.nav-list a:active {
	font-family: 'GT-Haptik-Medium-Rot';
	text-decoration: underline;
}

.nav-list {
	border: 3px solid black;
	position: absolute;
	padding: 2.25vh 1vw;
	z-index: 9;
	background-color: white;
	text-align: center;

}

.menu-container {
	display: absolute;
	margin: auto;
	width: 50%;
	border: 3px solid black;
	text-align: center;
}

.menu {
	display: grid;

}

h1 {
	text-decoration: none;
	color: black;
	font-family: 'GT-Haptik-Bold';
	font-size: 1.25vw;
	line-height: 1.75vw;
}

h2 {
	text-decoration: none;
	color: black;
	font-family: 'GT-Haptik-Medium';
	font-size: 1vw;
	line-height: 1.75vw;
}

footer {
	/* width: 5%; */
	position: fixed;
	left: 1.5vw;
	top: 92vh;
}

.social img{
	width: 2vw;
	padding: .75vh;
}

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
